html {
    width: 1280px;
    font-family: "Roboto";
    margin: 0px auto; 
}

.container {
    min-width: 100%;
    padding-top: 60px;
}

.logo a {
    font-size: 80px;
    line-height: 94px;
    color: #000000;
}

.logo span {
    color: #4BCAFF;
}

.navbar {
    display: flex;
    justify-content: center;
    margin: 40px 0;
    background: #35444F; 
}

.navbar li {   
    font-size: 24px;
    line-height: 28px;
    border-right: 1px solid white;
    padding: 20px 30px;
}

.navbar li a {
    color: white; 
}

.navbar li:first-child {
    border-left: 1px solid white;
}

.navbar li:hover {
    background: #222F3A;
}

.main {
    display: flex;
    justify-content: space-between;
}

.aside {
    border: 1px solid #000000;
    width: 344px;
    height: 399px;
	display: flex;
	flex-direction: column;
    justify-content: space-between;
}


.aside a {
	display: flex;
	align-items: center;
    color: #485863;
	height: 100%;	
	padding-left: 45px;
    font-size: 27px;
    line-height: 27px;
}


.aside a:hover {
    background: #DBDBDB;
    color: black;
    padding-left: 60px;
}

.content {
    display: inline-flex;
    width: 885px;
    flex-direction: column;
}

.image {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 529px;
    width: 885px;
    border: 1px solid #000000;
    overflow: hidden;
}

.image:hover img {
    transform: scale(1.1);
    transition: transform 1s;   
}

.content p {
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
}

.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 40px 0;
    background: rgba(99, 105, 110, 0.48);   
    font-size: 28px;
    line-height: 28px;
}

.footer li {
    display: inline-block;
}

.footer li:not(:last-child) {
    padding-right: 10px;
}

.footer li a {
    color: #0C1927;
}

.footer li a:hover {
    border-bottom: 1px solid #3181A6;
    color: #3181A6;
}

.footer p {
    font-size: 24px;
    line-height: 24px;
}